<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<!-- already_updated -->
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
    <head>
        <title><%= node['nginx']['page']['header'] %></title>
    </head>

    <body>

        <h1> <%= node['nginx']['page']['main_body'] %> </h1>
        <h3>Welcome to <strong>nginx</strong> on Fedora!</h3>
        <h4>Checking text 33233<h4>
    </body>
</html>
